.venv/*
.vscode/*

*/*.egg-info/*
build/*
*pyc
*/__pycache__/*

data/price/*
data/info/*
data/*.csv
!data/*.default_stocks.csv

Docker/airflow/logs/*

terraform/terraform.tfstate*
terraform/.terraform*

*.duckdb