.venv/*
.vscode/*

*/*.egg-info/*
build/*
*pyc
*/__pycache__/*

data/price/*
data/info/*
data/etf/*
data/*.csv
!data/*.default_stocks.csv

Docker/airflow/logs/*
Docker/airflow/docker-compose.override.yml
*.env

terraform/terraform.tfstate*
terraform/.terraform*
terraform/plan_*
terraform/terraform.tfvars

dbt/logs/*

*.duckdb
metabase/*